## This will be the Main File for our testing adn things. We can read/write etc in this file

## Step 1: Import the Appropriate Libaries and read in the data file

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel('Competition1_raw_data.xlsx')
print (df.head())

     I1                                  I2    I3 P(IPO) P(H) P(L) P(1Day)  \
0  AATI  ADVANCED ANALOGIC TECHNOLOGIES INC  3674     10  9.5  8.5   11.87
1  ABPI     ACCENTIA BIOPHARMACEUTICALS INC  2834      8   10    8    7.25
2  ACAD          ACADIA PHARMACEUTICALS INC  2834      7   14   12     6.7
3  ACHN       ACHILLION PHARMACEUTICALS INC  2834   11.5   16   14   12.39
4  ACLI     AMERICAN COMMERCIAL LINES INC.   4492     21   21   19    56.6

    C1 C2    C3 ...         C6       C7   T1     T2     T3   T4    T5  S1  \
0  122  1  3.43 ...   10600000   51.345  470  12719  11560  301   690  62
1  259  0 -1.62 ...    2400000   25.936  791  21792  19585  510  1120  71
2   90  1 -1.24 ...    5000000    7.378  201   5262   4785  128   325  61
3  209  1 -0.91 ...    4500000    8.526  328   8259   7574  177   509  80
4   80  1  0.07 ...    8250000  632.298  572  14830  13176  336   720  67

    S2   S3
0  117  139
1  242  237
2   33   60
3   59  110
4  149  167

[5 rows x 22 columns]

## Step 2: Now Lets analyze the data that we have to work with

In [8]:
print('Checking the shape of our data \n')
print(df.shape)

print('Checking the data types we have \n')
print(df.dtypes)

print('Checking for missing values \n')
print(df.isna().sum())

Checking the shape of our data

(682, 22)
Checking the data types we have

I1          object
I2          object
I3          object
P(IPO)     float64
P(H)        object
P(L)        object
P(1Day)     object
C1          object
C2          object
C3          object
C4          object
C5          object
C6          object
C7          object
T1          object
T2          object
T3          object
T4          object
T5          object
S1          object
S2          object
S3          object
dtype: object
Checking for missing values

I1         0
I2         0
I3         0
P(IPO)     5
P(H)       0
P(L)       0
P(1Day)    0
C1         0
C2         0
C3         0
C4         0
C5         0
C6         0
C7         0
T1         0
T2         0
T3         0
T4         0
T5         0
S1         0
S2         0
S3         0
dtype: int64

## Step 3: Formatting our data 

In order to make sure our data matches with our data dictionary, we need to convert certain columns to certain values.

In [10]:
#this works but clean up the data/format it in a different block

to_float = ['P(IPO)','P(H)', 'P(L)', 'P(1Day)']

for col in to_float:
    df[col]=pd.to_numeric(df[col], errors='coerce')
print(df.dtypes)

I1          object
I2          object
I3          object
P(IPO)     float64
P(H)       float64
P(L)       float64
P(1Day)    float64
C1          object
C2          object
C3          object
C4          object
C5          object
C6          object
C7          object
T1          object
T2          object
T3          object
T4          object
T5          object
S1          object
S2          object
S3          object
dtype: object